on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            archive: zip
          - target: x86_64-unknown-linux-musl
            archive: tar.gz tar.xz
    steps:
      - uses: actions/checkout@master
      - uses: Swatinem/rust-cache@v1
      - name: Compile and release
        uses: rust-build/rust-build.action@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}

  release-macos:
    name: release on macos
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@master
      - name: debug print tag
        run: |
          echo ${{ github.ref_name }}
      - uses: Swatinem/rust-cache@v1
      - name: Install dependencies
        run: |
          brew install libnotify
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          default: true
          override: true
      - name: Build
        run: |
          cargo build --all --release 
          strip target/release/cftail
          zip -j cftail_${{ github.ref_name }}_x86_64-apple-darwin.zip target/release/cftail
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: cftail_${{ github.ref_name }}_x86_64-apple-darwin.zip
          asset_name: cftail_${{ github.ref_name }}_x86_64-apple-darwin.zip
          tag: ${{ github.ref }}
